{
    "root": true,
    "plugins": ["prettier"],
    "extends": ["eslint:recommended", "prettier"],
    "rules": {
        "prettier/prettier": 2 // Means error
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "amd": true
    },
    "globals": {
        "require": true,
        "process": true
    }
}
